<!DOCTYPE html>
<html>
<head><title>希芸</title></head>
<body>
<h1>买家管理</h1>

<form method="POST" action="/buy">

    <table>
        <tr>

            <td>
                <p><a href="/">返回</a></p>
            </td>
        </tr>
        <tr>

            <td>
                <p><a href="buyeradd.html">新增买家信息</a></p>

            </td>
        </tr>
        <tr>
            <td>
                <p><a href="buyerlist.html">买家列表</a></p>
            </td>


        </tr>


    </table>
</form>
</body>
</html>