<!DOCTYPE html>
<html>
<head><title>希芸</title></head>
<body>
<h1>货品管理</h1>

<form method="POST" action="/buy">

    <table>
        <tr>

            <td>
                <p><a href="/">返回</a></p>
            </td>
        </tr>
        <tr>

            <td>
                <p><a href="goodsadd.html">新增货品</a></p>

            </td>
        </tr>
        <tr>
            <td>
                <p><a href="goodslist.html">货品列表</a></p>
            </td>


        </tr>


    </table>
</form>
</body>
</html>