<!DOCTYPE html>
<html>
<head><title>希芸</title></head>
<body>

<h1><img height="70" width="230" src="{{ static_url('images/logo.png') }}" alt="希芸"/></h1>
<form method="post">
    <p><a href="order.html">新单购买</a></p>
    <p><a href="querylist.html">订单查询</a></p>
    <p><a href="buyer.html">买家管理</a></p>
    <p><a href="goods.html">货品管理</a></p>
    <p><!--agent.html-->代理管理</p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p style="font-size: 14px;">希芸微智V0.1.0版本</p>
</form>
</body>
</html>