<!DOCTYPE html>
<html>
<head><title>希芸</title></head>
<body>
<h1>订单查询</h1>

<form method="POST" action="/queryupdate">
      <p><a href="/">返回</a> 注：购买角色 0代表零售，1代表特约，二级代理，3代表一级代理，4代表总代</p>
    <p><span>订单修改(订单编号):</span><input type="text" style="width:50px" id="orderid" name="orderid"/>
        <input type="submit" value="修改" id="commit"/>
    </p>
    <table border="1">

    {% block content %}

    {% for i in blogs %}
        <tr>
        <td>
    <p><span style="color: blue; ">【订单编号：{{ i[0] }}】 【微信号：{{ i[1] }}】 【姓名：{{ i[2] }}】 【购买角色：{{ i[3] }}】 【购买日期：{{ i[40] }}】</span>
        <br>【购买物品1：{{ i[4] }}】 【购买数量1：{{ i[5] }}】 【购买物品2：{{ i[6] }}】 【购买数量2：{{ i[7] }}】【购买物品3：{{ i[8] }}】 【购买数量3：{{ i[9] }}】【购买物品4：{{ i[10] }}】 【购买数量4：{{ i[11] }}】【购买物品5：{{ i[12] }}】 【购买数量5：{{ i[13] }}】【购买物品6：{{ i[14] }}】 【购买数量6：{{ i[15] }}】【购买物品7：{{ i[16] }}】 【购买数量7：{{ i[17] }}】【购买物品8：{{ i[18] }}】 【购买数量8：{{ i[19] }}】【购买物品9：{{ i[20] }}】 【购买数量9：{{ i[21] }}】【购买物品10：{{ i[22] }}】 【购买数量10：{{ i[23] }}】【购买物品11：{{ i[24] }}】 【购买数量11：{{ i[25] }}】【购买物品12：{{ i[26] }}】 【购买数量12：{{ i[27] }}】 【赠送物品1：{{ i[28] }}】 【赠送数量1：{{ i[29] }}】 【赠送物品2：{{ i[30] }}】 【赠送数量2：{{ i[31] }}】 【赠送物品3：{{ i[32] }}】 【赠送数量3：{{ i[33] }}】 【赠送物品4：{{ i[34] }}】 【赠送数量4：{{ i[35] }}】 【赠送物品5：{{ i[36] }}】 【赠送数量5：{{ i[37] }}】 【赠送物品6：{{ i[38] }}】 【赠送数量6：{{ i[39] }}】
    </p>
        </td>
        </tr>
    {% end %}

    {% end %}

    </table>
</form>
</body>
</html>